.card {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    width: 9rem;
    height: 20rem;
    border-radius: 0.375rem;
    background-color: #ffffff;
  }
  
  .card img {
    height: 6rem;
    width: 11rem;
    object-fit: cover;
  }
  
  .card .content {
    padding: 0.75rem 0.875rem;
  }
  
  .card h1 {
    color: #1e40af;
    font-weight: 700;
  }
  
  .card span {
    color: #6b7280;
  }
  
  .card h3 {
    color: #f97316;
    font-weight: 600;
  }
  
  .card button {
    background-color: #1e40af;
    width: 5rem;
    height: 1.5rem;
    border-radius: 0.375rem;
    text-align: center;
    font-size: 0.75rem;
    color: #ffffff;
  }
  