.containerGeral {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1E3A8A;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F1F5F9;
  min-height: 100vh;
  min-width: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0 6px;
  min-width: 50vh;
  min-height: 70vh;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  outline: none;

}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFA500;
  width: 260px;
  height: 60px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 6px;
}

.btn:hover {
  background-color: #FF7F00;
}

.link {
  color: #FFA500;
  text-decoration: none;
  padding: 6px 0;
}

.link:hover {
  text-decoration: underline;
}

.txtmsg {
  color: #FFFFFF;
  font-size: 32px;
  text-align: center;
}




@media screen and (max-width: 840px) {
  .hiddensmall {
    display: none;
    
  }

  .container {
    background-color: #1E3A8A;
  }
}


@media screen and (min-width: 1024px) {
  .hiddenlarge {
    display: none;
  }
}