.navfull {
  background-color: #1E3A8A;
  margin-top: -1px;
  padding: 0;

}


.tophome {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  gap: 40px;
  height: 100%;
  margin: 12%;
}

.header {
  --flex-gap: 0;
  max-width: 100%;
  height: 110px;
  align-items: center;
  border-bottom: 0.5px solid hsl(var(--clr-neutral-300));
  background-color: #1E3A8A;
  margin: 0;
  padding: 0;
  
}



.signupbutton {
  color: #ffffff; 
  font-size: 0.75rem; 
  flex: 1;
  text-decoration: none;
}

.signinbutton {
  color: #fff;
  font-size: 0.75rem; 
  background-color: #ed8936;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
  padding-top: 0.25rem; 
  padding-bottom: 0.25rem; 
  border-radius: 0.375rem; 
  text-decoration: none;
}


.signupbuttonmobile {
  color: #020000; 
  font-size: 0.75rem; 
  flex: 1;
  text-decoration: none;
}

.signinbuttonmobile {
  color: #fff;
  font-size: 0.75rem; 
  background-color: #ed8936;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
  padding-top: 0.25rem; 
  padding-bottom: 0.25rem; 
  border-radius: 0.375rem; 
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .inputbox,
  .signupbutton,
  .signinbutton {
    display: none;
  }
}



.navMenuToggle {
  display: none;
  border: none;
  background-color: transparent;
  width: 18px;
  height: 16px;
  position: relative;
  cursor: pointer;
  margin-top: 0px;
  margin-right: 18px;
  transition: all 200ms ease-in-out;
  padding: 0;
  margin: 0;
}

.hamburgerLine1,
.hamburgerLine2,
.hamburgerLine3 {
  display: block;
  position: absolute;
  width: 18px;
  height: 3px;
  content: "";
  transition: all 300ms ease-in-out;
  background-color: white;
}

.hamburgerLine1.active,
.hamburgerLine2.active,
.hamburgerLine3.active {
  background-color: black;
}

.hamburgerLine1 {
  top: 0;
  transform-origin: 0% 0%;
}

.hamburgerLine2 {
  top: 6.5px;
}

.hamburgerLine3 {
  bottom: 0;
  transform-origin: 0% 100%;
}

.navMenuToggleActive .hamburgerLine1 {
  left: 3.5px;
  top: 0.5px;
  transform: rotate(45deg);
}

.navMenuToggleActive .hamburgerLine2 {
  width: 0;
  opacity: 0;
}

.navMenuToggleActive .hamburgerLine3 {
  left: 3.5px;
  bottom: 0.5px;
  transform: rotate(-45deg);
}

.navMenu {
  display: flex;
  justify-content: center;
  height: 100%;
  
}

.navMenuLinks {
  --flex-gap: 32px;
  list-style: none;
  height: 100%;
  align-items: center;

}

.navMenuLinks > li {
  height: 100%;
  margin: 0; /* Adicione esta linha */
  padding: 0; /* Adicione esta linha */
}

.navMenuLink {
  height: 100%;
  text-decoration: none;
  color: white;
  align-items: center;
  position: relative;
  transition: all 200ms ease-in-out;
}

.navMenuLink::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  content: "";
  background-color: hsl(var(--clr-orange-400));
  transform: scaleX(0);
  transition: all 200ms ease-in-out;
}

.navMenuLink:hover {
  color: hsl(var(--clr-neutral-700));
}

.navMenuLink:hover::after {
  transform: scaleX(1);
}

.navMenuMobile {
  display: none;
}

/* Mobile version is activated on or below 880px */
@media (max-width: 880px) {
  .header {
    border: none;
  }

  .navMenuToggle {
    display: block;
    z-index: 1000;
  }

  .navMenu {
    display: none;
    
  }

  .navMenuMobile {
    display: block;
    position: absolute;
    inset: 0;
    background-color: hsl(var(--clr-neutral-800) / 0.75);
    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease-in-out;
    z-index: 10;
  }

  .navMenuMobileLinks {
    flex-direction: column;
    --flex-gap: 32px;
    list-style: none;
    width: 60%;
    height: 100%;
    padding: 120px 0 0 40px;
    background-color: hsl(var(--clr-neutral-100));
    opacity: 0;
    transform: translateX(-100%);
    transition: all 200ms ease-in-out;
  }

  .navMenuMobile.navMenuMobileActive {
    visibility: visible;
    opacity: 1;
  }

  .navMenuMobileActive .navMenuMobileLinks {
    opacity: 1;
    transform: translateX(0);
  }

  .navMenuMobileLink {
    text-decoration: none;
    color: hsl(var(--clr-neutral-700));
    transition: all 200ms ease-in-out;
  }
  .navMenuMobileLink:hover {
    color: hsl(var(--clr-neutral-400));
  }
}

.navMenuRight {
  --flex-gap: 45px;
  margin-left: auto;
  align-items: center;
}

.avatar {
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.avatar:hover {
  outline: 2px solid hsl(var(--clr-orange-400));
}

@media (max-width: 500px) {
  .header {
    height: 68px;
    border: none;
    padding-inline: 20px;
  }

  .navMenuMobileLinks {
    left: 24px;
    top: 95px;
  }

  .navMenuRight {
    --flex-gap: 20px;
    flex-shrink: 0;
  }

  .avatar {
    width: 30px;
    height: 30px;
  }
}

.logohome {
  width: 100px;
}

.inputbox {
  position: relative;
  height: 46px;
  max-width: 400px;
  width: 100%;
  background: #fff;
  margin: 0 20px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.inputbox i,
.inputbox .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.inputbox i {
  left: 20px;
  font-size: 30px;
  color: #707070;
}
.inputbox input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 65px;
  background-color: transparent;
}
.inputbox .button {
  right: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  background-color: #4070f4;
  cursor: pointer;
}
.inputbox .button:active {
  transform: translateY(-50%) scale(0.98);
}
/* Responsive */
@media screen and (max-width: 500px) {
  .inputbox {
    height: 42px;
    margin: 0 8px;
  }
  .inputbox i {
    left: 12px;
    font-size: 25px;
  }
  .inputbox input {
    padding: 0 112px 0 50px;
  }
  .inputbox .button {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }
}

.inputboxcontainer {
  background-color: #1E3A8A; 
  padding-bottom: 20px; 
}

.inputboxmobile {
  position: relative;
  height: 46px;
  max-width: 400px;
  width: 88%;
  background: #fff;
  margin: 0 20px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
 
}

.inputboxmobile input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 65px;
  background-color: transparent;
}
.inputboxmobile .button {
  right: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  background-color: #4070f4;
  cursor: pointer;
}
.inputboxmobile .button:active {
  transform: translateY(-50%) scale(0.98);
}

@media only screen and (max-width: 600px) {
  .inputboxmobile {
    display: none;
  }
}

.inputboxmobile {
  display: none; 
}

@media only screen and (max-width: 768px) {
  .inputboxmobile {
      display: block;
  }
}

