.main {
  --flex-gap: 0;
  max-width: 1100px;
  min-height: 100vh;
  margin-inline: auto;
  padding-block: 90px;
}

.productDetail {
  flex: 1;
  padding: 65px 45px 65px 62.5px;
}

.productDetail > .companyName {
  letter-spacing: 1px;
}

.productDetail > h1 {
  line-height: 1.1;
  margin-block: 1rem 2rem;
}

.productDetail > .productPrice {
  margin-top: 1.5rem;
  flex-direction: column;
}

.productPrice > .newPrice {
  align-items: center;
  margin-bottom: 0.25rem;
}

.newPrice > .discount {
  line-height: 1;
  margin-left: 1rem;
  padding: 0.25em 0.5em;
  background-color: hsl(var(--clr-orange-300));
  border-radius: 5px;
}

@media (max-width: 1050px) {
  .productDetail {
    padding: 20px;
  }
}

@media (max-width: 880px) {
  .main {
    flex-direction: column;
    padding: 0;
  }
}

@media (max-width: 500px) {
  .productDetail > h1 {
    line-height: 1.1;
    margin-block: 0.5rem 1rem;
  }

  .productDetail > .productPrice {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .productPrice > .newPrice {
    margin-bottom: 0;
  }
}


.rectanglehomelarge {
  display: block;
}


@media only screen and (max-width: 600px) {
  .rectanglehomelarge {
      display: none;
  }
}


.rectanglehome {
  display: none; 
  width: 100%;
}


.homebutton {
  color: #fff;
  font-size: 2.7rem; 
  background-color: #ed8936;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
  padding-top: 0.25rem; 
  padding-bottom: 0.25rem; 
  border-radius: 0.375rem; 
  text-decoration: none;
  position: absolute;
  top: 26.3%; 
  left: 57.6%; 
}

@media only screen and (max-width: 600px) {
  .rectanglehome {
      display: block; 
  
  }
  .homebutton {
    top: 30.3%; 
    left: 13.6%; 
    font-size: 1.7rem; 
  }
}

